/* ------------------------------------------------------------ */
/* imports and utilities */

/* 3rd-party CSS files */
@import 'vendor/h5bp-head.css';
@import 'vendor/normalize.css';
@import 'vendor/h5bp-tail.css';

/* use a more intuitive box sizing model (http://is.gd/wNVjAo) */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Scale down images and embedded videos so they don't overflow their parents */
img, object { max-width: 100%; }

/*	Development/layout aid. Remove the comments
	on this rule in order to draw boxes around DIVs
	and other elements used for layout. */
/* 
div, main, article, section, aside, hgroup, header, footer, address, nav {
	border: 1px solid rgba(255,0,0,0.15) !important;
	background: rgba(255,0,0,0.05) !important;		
}
*/


/* ------------------------------------------------------------ */
/* start project-specifc styles below this line */

body {
	font-family: "Source Sans Pro", "Helvetica Neue", sans-serif;
	font-size: 18px;
	line-height: 1.5em;
	color: #222;
}

.container {
	width: 100%;
	padding: 1em;
	border: none;
    background-image: url("/blog/img/autumn-studio-394136-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1200px;
}

.title {
    background-color: rgb(255, 255, 255, 0.9);
    padding: 1em;
    text-align: center;
    margin: 1em;
    color: rgb(0, 0, 128);
}

.posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: auto;
    grid-auto-flow: row;
    grid-gap: 1em;
    margin: 1em;
    padding: 1em;
}

article {
    padding: 1em;
    background-color: rgb(255, 255, 255, 0.9);
}

a:link {
    color: #d96c58;
    text-decoration: none;
}

a:visited {
    color: color: rgb(0, 0, 128);
    text-decoration: none;
}

a:hover {
    background-color: #f3ca4e; 
    text-decoration: none;
color: #222;
}

.post-page {
	background-color: rgb(255, 255, 255, 0.9);
    padding: 1em;
    text-align: center;
    margin: 5em;
}

.home-link {
	background-color: rgb(255, 255, 255, 0.9);
    padding: 1em;
    text-align: left;
}

.head {
    text-align: center;
    color: rgb(0, 0, 128);
}

.center {
	text-align: center;
}
